* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 100vh;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background: linear-gradient(0deg, #292929, #2a2a2a);
}

.status-bar {
  background: #00000044;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  top: 0px;
  left: 0px;
  right: 0px;
}

.status-bar .time {
  width: 200px;
  position: absolute;
  color: white;
  left: calc(50% - 100px);
  top: 0px;
  font-size: 17px;
}

.status-bar .icons {
  color: #ddd;
}

.status-bar .icons i {
  font-size: 14px;
  cursor: pointer;
  margin: 0 3px;
}

.status-bar .icons:hover {
  color: white;
  filter: brightness(3);
}

.login-section {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-section .login-card {
  width: 340px;
  height: 80px;
  border-radius: 4px;
  display: flex;
  color: #ddd;
  align-items: center;
  padding: 5px;
  transition: 0.2s linear;
}

.login-section .login-card:hover,
.login-section .login-card:focus {
  background-color: rgb(61, 61, 157);
  color: #fff;
}

.login-section .login-card i {
  border: 2px white solid;
  padding: 1px 7px;
  border-radius: 4px;
  font-size: 60px;
}

.login-section .login-card .name {
  font-weight: bold;
  font-size: 17px;
  margin: 0px 10px;
}

.login-section .not-listed {
  color: #ddd;
  width: 340px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 13px;
}

.login-section .not-listed:hover {
  color: #fff;
}

.all-app-container {
  position: relative;
  height: 100%;
  display: none;
}

.all-app-container .background {
  background: url("../joker.jpg");
  filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  top: 0;
}

.all-app-container .search-box {
  width: 300px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 20px;
  left: calc(50% - 150px);
}

.all-app-container .tics {
  display: inline-flex;
  position: absolute;
  right: 20px;
  top: 50%;
}

.all-app-container .tics .tic {
  min-width: 14px;
  min-height: 14px;
  border-radius: 100%;
  background-color: #fff;
}

.all-app-container .apps {
  position: absolute;
  display: flex;
  top: 100px;
  flex-wrap: wrap;
  width: 70%;
  height: 80%;
  left: 15%;
}

.all-app-container .apps .app-container {
  height: 130px;
  width: 50%;
}

.all-app-container .apps .app-container .app {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 3px;
  transition: 0.2s;
}

.all-app-container .apps .app-container .app:hover {
  background-color: #ffffff10;
}

.all-app-container .apps .app-container .app .app-icon {
  width: 90px;
  height: 90px;
}

.all-app-container .apps .app-container .app .title {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .all-app-container .apps .app-container {
    height: 130px;
    width: 33.3%;
  }
}

@media only screen and (min-width: 992px) {
  .all-app-container .apps .app-container {
    height: 130px;
    width: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .all-app-container .apps .app-container {
    height: 130px;
    width: 16.6%;
  }
}
