@font-face {
  font-family: 'poppl';
  src: url('../fonts/Poppl-Laudatio\ Light\ Condensed.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.main-container {
  background: linear-gradient(0deg, #292929, #2a2a2a);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sc-monitor {
  display: block;
  height: 100vh;
}

.status-bar {
  background: #00000044;
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  color: #ddd;
}

.status-bar .time {
  width: 200px;
  text-align: center;
  font-size: 17px;
  position: absolute;
  left: calc(50% - 100px);
  cursor: pointer;
  transition: 0.2s linear;
}

.status-bar .time:hover {
  color: white;
  filter: brightness(3);
}
.status-bar .icons {
  cursor: pointer;
  transition: 0.2s linear;
}

.status-bar .icons i {
  font-size: 14px;
  margin: 0 3px;
}

.status-bar .icons:hover {
  color: white;
  filter: brightness(3);
}

.login-section {
  background-color: #2a2a2a;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-section .login-card {
  width: 340px;
  height: 80px;
  border-radius: 4px;
  display: flex;
  color: #ddd;
  align-items: center;
  padding: 5px;
  transition: 0.2s linear;
  cursor: pointer;
}

.login-section .login-card:hover,
.login-section .login-card:focus {
  background-color: rgb(61, 61, 157);
  color: #fff;
}

.login-section .login-card i {
  border: 2px white solid;
  padding: 1px 7px;
  border-radius: 4px;
  font-size: 60px;
}

.login-section .login-card .name {
  font-weight: bold;
  font-size: 17px;
  margin: 0px 10px;
}

.login-section .not-listed {
  color: #ddd;
  width: 340px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 13px;
}

.login-section .not-listed:hover {
  color: #fff;
}

.login-section .debian-logo {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
}

.login-section .debian-logo .text {
  margin-left: 10px;
  font-size: 40px;
  color: white;
  font-family: 'poppl';
}

.login-section .debian-logo .version {
  position: absolute;
  right: -20px;
  top: 10px;
  font-size: 20px;
  color: rgb(127, 131, 169);
  font-family: 'poppl';
}

.apps-section {
  display: none;
  flex-direction: column;
  height: 100%;
}

.apps-section .search-bar {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.apps-section .search-bar input {
  border-radius: 40px;
  height: 30px;
  padding-left: 40px;
  padding-right: 20px;
  width: 300px;
  background-image: url(../icons/magnifying-glass.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 10px 3px;
}

.apps-section .search-bar input:focus {
  outline: none;
}

.apps-section .background {
  background: url('../images/joker.jpg');
  filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  top: 0;
}

.sc-tab {
  display: none;
}

.sc-phone {
  display: none;
}

/* tab */
@media screen and (max-width: 768px) {
  .sc-monitor {
    display: none;
  }

  .sc-tab {
    display: block;
  }

  .sc-phone {
    display: none;
  }
}

/* phone */
@media screen and (max-width: 480px) {
  .sc-monitor {
    display: none;
  }

  .sc-tab {
    display: none;
  }

  .sc-phone {
    display: block;
  }
}
