@font-face {
  font-family: 'poppl';
  src: url('../fonts/Poppl-Laudatio\ Light\ Condensed.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.main-container {
  background: linear-gradient(0deg, #292929, #2a2a2a);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sc-monitor {
  display: block;
  height: 100vh;
}

.status-bar {
  background: #00000044;
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  color: #ddd;
}

.status-bar .time {
  width: 250px;
  text-align: center;
  font-size: 17px;
  position: absolute;
  left: calc(50% - 125px);
  cursor: pointer;
  transition: 0.2s linear;
}

.status-bar .time:hover {
  color: white;
  filter: brightness(3);
}
.status-bar .icons {
  cursor: pointer;
  transition: 0.2s linear;
}

.status-bar .icons i {
  font-size: 14px;
  margin: 0 3px;
}

.status-bar .icons .controls {
  background-color: #fff;
  position: absolute;
  width: 300px;
  right: 0;
  z-index: 2;
  visibility: hidden;
  margin: 10px 20px;
  border-radius: 5px;
  transition: 0.2s;
  opacity: 0;
  transform: translateY(-3%);
  padding: 20px 0px;
  cursor: default;
}

.status-bar .icons .controls::after {
  content: '';
  background-color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: -1;
  right: 60px;
  top: -5px;
  transform: rotate(45deg);
}

.status-bar .icons:hover .controls {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

.status-bar .icons:hover {
  color: white;
}

.status-bar .icons .controls .ranges .range {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 20px;
  margin: 5px 0px;
  cursor: pointer;
}

.status-bar .icons .controls .ranges .range:hover {
  background-color: #ddd;
}

.status-bar .icons .controls .ranges .range i {
  color: #444;
  width: 20px;
  height: 20px;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

.status-bar .icons .controls .divider {
  background-color: #ddd;
  height: 1px;
  width: 50%;
  transform: translateX(50%);
}

.status-bar .icons .controls .ranges .range input {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: #ccc solid 1px;
  z-index: 2222;
  margin-left: 10px;
}
.status-bar .icons .controls .ranges .range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #666;
  cursor: pointer;
}
.status-bar .icons .controls .ranges .range input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #666;
  cursor: pointer;
}
.status-bar .icons .controls .ranges .range input::-moz-range-progress {
  background: #666;
}

.status-bar .icons .controls .settings {
  margin-top: 10px;
}

.status-bar .icons .controls .settings .setting {
  display: flex;
  color: #444;
  align-items: center;
  justify-content: center;
  padding: 3px 20px;
  margin: 5px 0px;
  cursor: pointer;
}

.status-bar .icons .controls .settings .setting:hover {
  background-color: #ddd;
}

.status-bar .icons .controls .settings #log-out {
  display: none;
}

.status-bar .icons .controls .settings .setting span {
  font-size: 17px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.status-bar .icons .controls .settings .setting i {
  width: 20px;
  font-size: 15px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-section {
  background-color: #2a2a2a;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-section .login-card {
  width: 340px;
  height: 80px;
  border-radius: 4px;
  display: flex;
  color: #ddd;
  align-items: center;
  padding: 5px;
  transition: 0.2s linear;
  cursor: pointer;
}

.login-section .login-card:hover,
.login-section .login-card:focus {
  background-color: rgb(61, 61, 157);
  color: #fff;
}

.login-section .login-card i {
  border: 2px white solid;
  padding: 1px 7px;
  border-radius: 4px;
  font-size: 60px;
}

.login-section .login-card .name {
  font-weight: bold;
  font-size: 17px;
  margin: 0px 10px;
}

.login-section .not-listed {
  color: #ddd;
  width: 340px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 13px;
}

.login-section .not-listed:hover {
  color: #fff;
}

.login-section .debian-logo {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
}

.login-section .debian-logo .text {
  margin-left: 10px;
  font-size: 40px;
  color: white;
  font-family: 'poppl';
}

.login-section .debian-logo .version {
  position: absolute;
  right: -20px;
  top: 10px;
  font-size: 20px;
  color: rgb(127, 131, 169);
  font-family: 'poppl';
}

.apps-section {
  display: none;
  flex-direction: column;
  height: 100%;
}

.apps-section .search-bar {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.apps-section .search-bar input {
  border-radius: 40px;
  height: 30px;
  padding-left: 35px;
  padding-right: 20px;
  width: 300px;
  background-image: url(../icons/magnifying-glass.png);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 10px 3px;
}

.apps-section .search-bar input:focus {
  outline: none;
}

.apps-section .background {
  background: url('../images/joker.jpg');
  filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  top: 0;
}

.apps-section .tics {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apps-section .tics .tic {
  height: 8px;
  width: 8px;
  background-color: #aaa;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 1px #fff;
  cursor: pointer;
}

.apps-section .tics .active {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.apps-section .apps {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translateX(-50%);
}

.apps-section .apps .app {
  margin: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: 0.2s;
  padding: 30px 10px;
  border-radius: 20px;
}

.apps-section .apps .app:hover {
  scale: 1.1;
  background-color: #ffffff20;
}

.apps-section .apps .app .icon img {
  -webkit-filter: drop-shadow(0px 0px 3px #fff);
  filter: drop-shadow(0px 0px 3px #fff);
}

.apps-section .apps .app .name {
  color: #fff;
  margin-top: 10px;
  text-align: center;
}

.display {
  background-color: #fff;
  height: 100%;
  display: none;
  flex-direction: column;
}

.display .title-bar {
  background: linear-gradient(0deg, #171717, #303030);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px 10px;
  align-items: center;
}

.display .title-bar .tail-icons i {
  color: #ddd;
  cursor: pointer;
  padding: 2px 5px;
  transition: all 0.3s;
}

.display .title-bar .tail-icons i:hover {
  color: #fff;
  -webkit-filter: drop-shadow(0px 0px 3px #fff);
  filter: drop-shadow(0px 0px 3px #fff);
}

.display .title-bar .title {
  color: #ddd;
  font-weight: 600;
}

.display .content {
  background-color: #2a2a2a;
  display: flex;
  width: 100%;
  height: 100%;
}

.display .content .profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 100px;
  background-color: aqua;
  justify-content: space-between;
}

.display .content .profile .card {
  background-color: #fff;
}

.sc-tab {
  display: none;
}

.sc-phone {
  display: none;
}

/* tab */
@media screen and (max-width: 768px) {
  .sc-monitor {
    display: none;
  }

  .sc-tab {
    display: block;
  }

  .sc-phone {
    display: none;
  }
}

/* phone */
@media screen and (max-width: 480px) {
  .sc-monitor {
    display: none;
  }

  .sc-tab {
    display: none;
  }

  .sc-phone {
    display: block;
  }
}
