@font-face {
  font-family: "font-gg"; /*a name to be used later*/
  src: url("./assets/fonts/Audiowide-Regular.ttf"); /*URL to font*/
}

@font-face {
  font-family: "font-ff"; /*a name to be used later*/
  src: url("./assets/fonts/PatrickHand-Regular.ttf"); /*URL to font*/
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bio {
  background-color: #1175ab;
  color: #ffffffaa;
}

.photo {
  border-radius: 3px;
  border: white 2px solid;
}

.base {
  font-family: "font-ff";
  font-size: 20px;
}

.title {
  font-family: "font-gg";
  text-align: center;
  font-size: 40px;
  color: #ffffffee;
  font-weight: 500;
}

.sub-title {
  font-size: 28px;
  color: #ffffffee;
  font-weight: 500;
  font-family: "font-gg";
  margin-top: 30px;
}

.job-role {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}
